 <h1>hello aryan  </h1>
<h1>   email</h1>{{ email  }}
<h1>  phone </h1>{{ phone  }}
<h1>    state</h1>{{ state  }}
<h1>  city </h1>{{ city  }}
<h1>   address</h1>{{ address  }}
<h1>   feedback</h1>{{ feedback  }}


<h1>   email</h1>{{ email  }}
<h1>  phone </h1>{{ phone  }}
<h1>    state</h1>{{ price }}
<h1>  city </h1>{{  image }}
<h1>   address</h1>{{ medium }}
<h1>   feedback</h1>{{ custom  }}




<img src="{{ i }}"  style="height: 400px; object-fit: cover;">
                                  
<h1>   title</h1>{{ title  }}
<h1>   disc</h1>{{ d  }}
<h1>  price</h1>{{ p  }}



